<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="back-home" style="top: 8px;right: 16px">
        <a href="/home" class="link-button" style="width: 100%;">Back home</a>
    </div>
    <h2 class="page-title">Employee List</h2>
    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Position</th>
                    <th>Salary</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.employeeId}"></td>
                    <td th:text="${employee.employeePosition}"></td>
                    <td th:text="${employee.employeeSalary}"></td>
                    <td>
                        <form th:action="@{/delete/{id}(id=${employee.employeeId})}" method="post" style="display:inline;">
                            <button class="delete-button" type="submit" onclick="return confirm('Are you sure?')">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>