<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="back-home" style="top: 15px;right: 15px">
        <a href="/home" class="link-button" style="width: 100%;">Back home</a>
    </div>
    <div class="cell">
        <h2>Order №<span th:text="${order.id}"></span></h2>
        <div class="info-div">
            <p>Income: <span th:text="${order.priceToGet}"></span>₴</p>
            <p>Time: <span th:text="${order.startTime}"></span></p>
        </div>
    
        <div style="padding-bottom: 10px;" th:if="${progress < 100}">
            <p>Progress: <progress max="100" th:value="${progress}"></progress></p>
        </div>
    
        <div style="padding-bottom: 10px;" th:if="${progress >= 100}">
            <form th:action="@{'/order/' + ${order.id} + '/complete'}" method="post">
                <button class="button-link-style" style="width: 10%;" type="submit">Close order</button>
            </form>
        </div>
    </div>

</body>